# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
_license=1.1=py27_0
bokeh=0.10.0=py27_0
flask=0.10.1=py27_1
itsdangerous=0.24=py27_0
markupsafe=0.23=py27_0
matplotlib=1.4.3=np110py27_3
numpy=1.10.1=py27_0
openssl=1.0.2d=0
pandas=0.17.1=np110py27_0
pip=7.1.2=py27_0
python=2.7.11=0
python-dateutil=2.4.2=py27_0
quandl=2.8.9=py27_0
requests=2.8.1=py27_0
scipy=0.16.0=np110py27_1
sqlite=3.8.4.1=1
virtualenv=13.0.1=py27_0
